#confirmationWindow {
    margin:0 auto;
    height:300px;
    width:500px;
    background: #FFF;
    z-index:101;
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    border-width: 1px;
    border-style:solid;

}

#confText {
    font-family: sans-serif;
    color: red;
    font-size: 30px;
    text-align: center;
}
.container {
    margin: 0 auto;
    width: auto;
    height: 600px;
    top: 0px;
}
.item {
    display: inline;
}

.circle {
    width: 50px;
    height:50px;
    border-radius: 50%;
    font-size:15px;
    color:blue;
    line-height:50px;
    text-align: center;
    background: #000;
}
#bankTop {
    height:10%;
    background: url("assets/gt_bg_640_n.png");
    background-size:cover;
    margin: 0 auto;

}

#bankBot {
    height: 50%;
    background-color: white;
    margin: 0 auto;
}
#span1 {
    position: relative;
    top:10%;
    left: 5px;
    width: 70%;

}

body{
    background: gray;
    padding:0;
    margin:0 0;
    overflow: hidden;
}
.acctName {
    font-size: 50px;
    font-family: sans-serif;
    font-size: 23px;
    color: red;
}

.acctContainer {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 4px 4px 5px grey;
    padding: 5px;
    position: relative;
    top: 50px;
    left: 10px;
    width: 240px;
    height: 50px;
}

#transferContainer {
    position: relative;
    left: 500px;
    border-style: solid;
    border-width: 1px;
    width: 200px;
    top: -164px;

}

.acctNum {
    position: relative;
    left: 70px;
    font-family:sans-serif;
    font-weight: 100;
}

.acctAmount {
    position: relative;
    right: 1%;
    font-family: sans-serif;
    font-weight: bolder;
    float: right;
}
#menu {
    position: relative;
    top: -20px;
    left: 125px;
}

.footerBear {
    height: 100px;
    width: auto;
    position: absolute;
    bottom:0;
    right: 0;
}

#transferAmount {
    background: wheat;
    background-image: url("assets/gt_username_128.png");
    background-size: 30px;
    background-position: 0px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top:5px;
    padding-bottom: 5px;
    width: 300px;
    height: 10px;
    color: black;
    text-align: center;
}

#xfer {
    background: darkblue;
    background-image: url(assets/gt_bullet_accounts.png);
    background-size: 30px;
    background-position: 0px 3px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 11px;
    padding-bottom: 20px;
    width: 123px;
    height: 35px;
    color: white;
    text-align: center;
    border: 0;
    position: relative;
    top: 0px;
    left: -52px;
    font-family: sans-serif;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0, 0, 0, 0.2);
    border-right: 1.1em solid rgba(0, 0, 0, 0.2);
    border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

